<div class="row">
    <div class="col-md-6 offset-3 alert-success text-center">
        <h2>
            Order Completed Successfully
        </h2>
        <p>you can cheack all your orders in the order section of your profile</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>