
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="row text-center">
    <h1 class="text-info">
        You' ve reached at the end of the internet    
    </h1>
    <div class="text-center">
        <a class="btn btn-outline-secondary" asp-controller="Movies" asp-action="Index">Go Back</a>
    </div>

</div>

</body></html>